@page "/Users/Password/Change/{Token:guid}"
@using WebApi.Services.UserService
@inject IUserService _userService

<span class="@_messageStyle">@_message</span>

<div style="@_style">
    <label for="password">Contraseña:</label><input id="password" type="password" class="form form-control" placeholder="Contraseña" @bind="_passwordOne"/>
    <label for="confpassword">Confirmar contraseña:</label><input id="confpassword" type="password" class="form form-control" placeholder="Confirmar contraseña" @bind="_passwordTwo"/>
    <button class="btn btn-primary col-12 mt-2" @onclick="ChangePassword">Cambiar contraseña</button>
</div>

@code {
    [Parameter]
    public Guid Token { get; set; }

    private string _message { get; set; }
    private string _passwordOne { get; set; }
    private string _passwordTwo{ get; set; }
    private string _style { get; set; }
    private string _messageStyle { get; set; }

    private void ChangePassword()
    {
        _messageStyle = "text-danger";
        if (_passwordOne==_passwordTwo)
        {
            if (_passwordOne.Length>=8)
            {
                if (_userService.ChangePassword(Token, _passwordOne))
                {
                    _message = "Contraseña cambiada, puedes volver a iniciar sesión en la app.";
                    _style = "display: none;";
                    _messageStyle = "text-info";
                }
                else
                {
                    _message = "Error, si persiste contacte con nosotros.";
                }
            }
            else
            {
                _message = "La contraseña tiene que contener al menos 8 caracteres";
            }
        }
        else
        {
            _message = "Las contraseñas no coinciden";
        }
    }

}